*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center ;
    padding: 20px 0;
    color: white;
}
.header-content{
    width: 80%;
}


.head-top{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center ;
    margin-bottom: 30px;

}
.head-top .search-content input{
    border: 1px solid white;
    background-color: transparent;
    padding: 7px;
    color:aliceblue;
    font-size: 16px;  
}
.head-top .search-content button{
    border: 1px solid #e4a033;
    background-color: #e4a033;
    padding: 7px;
    color:aliceblue;
    font-size: 16px;  
}
.head-top .search-content input::placeholder{
    color: white;
    opacity: .4;
}
.head-top .search-content input:focus{
    outline: 1px solid red;
}

.head-bottom{
    width: 100%;

}
.head-bottom ul{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

.head-bottom ul a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}




























/* .parent a{
    background-color: yellow;
}
a, p{
    color: red;
}

#nav-content{
    background-color: aqua;
    color: white;
    width: 300px;
    border-style: solid;
    border-color:black;
    border-width: 3px;
    border: 5px dotted red;
    display: inline-block;
    padding: 30px 20px 30px 20px;
    padding: 30px 20px;
   padding: 50px 40px 70px;
   margin-top: 20px;
   margin-right: 50px;
   margin-bottom: 40px;
   margin-left: 30px;
   margin: 30px 40px 60px 40px;
   margin: 30px 20px;

} */

/* div span{
    background: red;
    

}

.box{
    width: 200px;
    height: 300px;
    background-color: aqua;
    display: inline-block;
    padding: 30px;
    margin: 50px;

} */




